<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<h1>Vise Versa<h1> </head>
<body>
<form action='{% url 'reverse' %}'>
    <textarea cols ="50" rows="10" name="usertext"></textarea>
    <br><br>
    <input type="submit" value="Reverse!"/>
</form>
</body>
</html>