<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reverse text</title>
</head>
<body>
<h1>Original text has {{words_count}} words<h1>
{{usertext}}

<h1>Reverse text<h1>
{{reversedtext}}
</body>
</html>